{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexCRM | {{empresa_logada.nome_empresa}}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h3><a href="{% url 'landing' %}">NexCRM</a></h3>
        <nav id="topo">
            {% if autenticado %}
            <p>Bem vindo, <b>{{ empresa_logada.dono_empresa }}</b></p>
            <a class="profile_btn" href="{% url 'perfil' %}"><img src="{% static 'img/profile.png' %}"></a>
            {% else %}
                <a class="nav_links" href="{% url 'logar_empresa' %}">Logar como Usuário</a>
                <a class="nav_links" href="{% url 'logar_empresa' %}">Logar como Empresa</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1>Seus produtos:</h1>
    {% for produto in empresa_logada.produtos.all %}
        <div class="produto">
            <div class="produto_image"></div>
            <input type="hidden" class="o_nome_produto" value="{{ produto.nome_produto }}">
            <div class="info_produto" id="info1">
                <h3 class="nome_produto">Nome do Produto: {{ produto.nome_produto }}</h3>
                <p>ID do produto: {{ produto.id }}</p>
            </div>
            <div class="info_produto">
                <p>Unidades em estoque: {{ produto.quantidade_estoque }}</p>
                <p>Preço: R${{ produto.preco }}</p>

            </div>
            <form class="form_remover_produto" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{% if produto.id %}{{ produto.id }}{% else %}0{% endif %}">
                <button type="submit" name="btn_remove" value="remover"><img src="{% static 'img/trash.png' %}"></button>
                <button name="btn_edit" onclick="editar_produto()" value="editar"><img src="{% static 'img/pencil.png' %}"></button>
            </form>
        </div>
    {% empty %}
        <h2>Sua empresa ainda não tem produtos! </h2>
    {% endfor %}
    
    <aside>
        <h1>Cadastro de produtos</h1>
    <form class="cadastrar_form" action="" method="post">
        {% csrf_token %}
        <input type="text" name="nome_produto" placeholder="Nome do produto...">
        <input type="text" name="quantidade_estoque" placeholder="Quantidade em estoque...">
        <input type="text" name="preco" placeholder="Preço do produto (R$)...">
        <input id="btn_add" type="submit" name="btn_add" value="Cadastrar">
    </form>
    <div>
        <h1>Filtrar produtos</h1>
        <input type="text" id="filtro" placeholder="Nome do produto..." onkeyup="filtrarProdutos()">
    </div>
</aside>
</main>

<a href="#topo" id="up"></a>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>