{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexCRM | Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <a id="logo" href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <nav id="navigation_links">
            <a class="nav_link active" href="{% url 'landing' %}">Dashboard</a>
            <a class="nav_link" href="{% url 'ver_produtos' %}">Ver produtos</a>
            {% if empresa_logada %}
            <a href="{% url 'cadastrar_produtos' %}" class="nav_link">Meus produtos</a>
            {% elif usuario_logado %}
            <a href="{% url 'produtos_comprados' %}" class="nav_link">Meus produtos</a>
            {% endif %}
        </nav>
        <nav>
            {% if autenticado %}
            <p>Bem vindo,<b> {% if empresa_logada %} {{ empresa_logada.dono_empresa }} {% elif usuario_logado %} {{ usuario_logado.nome_completo }} {% endif %} </b></p>
            <a class="profile_btn" href="{% url 'perfil' %}"><img src="{% static 'img/profile.png' %}" alt=""></a>
            {% else %}
            <a class="nav_link" href="{% url 'logar_usuario' %}">Logar como Usuário</a>
            <a class="nav_link" href="{% url 'logar_empresa' %}">Logar como Empresa</a>
            {% endif %}
        </nav>

        <button class="mobile_menu_btn" onclick="abrir_mobile_menu()"><img src="{% static 'img/mobile_menu.png' %}" alt=""></button>
    </header>
    <div class="mobile_menu">
        <a href="{% url 'ver_produtos' %}">Ver produtos</a>
        {% if autenticado %}
        <a href="{% url 'perfil' %}" id="perfil">Ver perfil</a>
            {% if empresa_logada %}
            <a href="{% url 'cadastrar_produtos' %}">Meus produtos</a>
            {% elif usuario_logado %}
            <a href="{% url 'produtos_comprados' %}">Produtos comprados</a>
            {% endif %}
        {% else %}
        <a href="{% url 'logar_usuario' %}">Logar como Usuário</a>
        <a href="{% url 'logar_empresa' %}">Logar como Empresa</a>

        {% endif %}
    </div>

    <main>
        <section class="hero">
            <img src="{% static 'img/hero.png' %}" alt="">
            <div class="descricao_site">
                <h1>O Marketplace Inteligente para Empresas e Consumidores</h1>
                <h4>O NexCRM é uma plataforma inovadora que une empresas e consumidores em um marketplace dinâmico e eficiente!</h4>
                <a href="{% url 'ver_produtos' %}" class="ver_produtos">Ver produtos</a>

            </div>
        </section>
        <section class="nossos_servicos">
            <h1 id="nossos_servicos_titulo">Nossos Serviços</h1>
            <p>No NexCRM, empresas podem se cadastrar, gerenciar seus produtos e oferecer seus itens para um público amplo, enquanto usuários podem explorar e comprar produtos diretamente pelo site.</p>
            <div class="servicos_container">
                <a href="{% url 'perfil' %}">
                    <div class="servico s1">
                        <div class="servico_image"></div>
                        <div class="descricao_servico">
                            <h3>Monitoramento do seu faturamento</h3>
                            <p>Você consegue acompanhar seu faturamento em tempo real!</p>
                        </div>
                    </div>
                </a>

                <a href="{% url 'cadastrar_produtos' %}">
                    <div class="servico s2">
                        <div class="servico_image"></div>
                        <div class="descricao_servico">
                            <h3>Gerenciamento de seus produtos</h3>
                            <p>Você possui controle total de seus produtos, podendo adicionar, remover e até mesmo editar seus produtos!</p>
                        </div>
                    </div>
                </a>

                <a href="{% url 'ver_produtos' %}">
                    <div class="servico s3">
                        <div class="servico_image"></div>
                        <div class="descricao_servico">
                            <h3>Ampla variedade de produtos</h3>
                            <p>Vendemos ótimos produtos de uma ampla variedade de categorias!</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>

    
<script src="../static/js/script.js"></script>
</body>
</html>