{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexCRM | {% if empresa_logada %} {{ empresa_logada.nome_empresa }} {% elif usuario_logado %} {{ usuario_logado.nome_completo }} {% endif %} </title>
    <link rel="stylesheet" href="{% static 'css/produtos_empresa.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>  
    <header>
        <a id="logo" href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <nav id="navigation_links">
            <a class="nav_link" href="{% url 'landing' %}">Dashboard</a>
            <a class="nav_link" href="{% url 'ver_produtos' %}">Ver produtos</a>
            <a class="nav_link active" href="{% url 'cadastrar_produtos' %}">Meus produtos</a>
        </nav>
        <nav>
            {% if autenticado %}
            <p>Bem vindo,<b> {% if empresa_logada %} {{ empresa_logada.dono_empresa }} {% elif usuario_logado %} {{ usuario_logado.nome_completo }} {% endif %} </b></p>
            <a class="profile_btn" href="{% url 'perfil' %}"><img src="{% static 'img/profile.png' %}" alt=""></a>
            {% else %}
            <a class="nav_link" href="{% url 'logar_usuario' %}">Logar como Usuário</a>
            <a class="nav_link" href="{% url 'logar_empresa' %}">Logar como Empresa</a>
            {% endif %}
        </nav>

        <button class="mobile_menu_btn" onclick="abrir_mobile_menu()"><img src="{% static 'img/mobile_menu.png' %}" alt=""></button>
    </header>
    <div class="mobile_menu">
        <a href="{% url 'ver_produtos' %}">Ver produtos</a>
        {% if autenticado %}
        <a href="{% url 'perfil' %}" id="perfil">Ver perfil</a>
            {% if empresa_logada %}
            <a href="{% url 'cadastrar_produtos' %}">Meus produtos</a>
            {% elif usuario_logado %}
            <a href="">Meu carrinho</a>
            <a href="">Produtos comprados</a>
            {% endif %}
        {% else %}
        <a href="{% url 'logar_usuario' %}">Logar como Usuário</a>
        <a href="{% url 'logar_empresa' %}">Logar como Empresa</a>

        {% endif %}
    </div>

    <main>
        {% include "messages.html" %}
        {% if empresa_logada %}
        <div class="formulario_mobile">
            <h1>Cadastro de produtos</h1>
            <form class="cadastrar_form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="nome_produto" placeholder="Nome do produto...">
                <input type="number" name="quantidade_estoque" placeholder="Quantidade em estoque...">
                <input type="number" name="preco" placeholder="Preço do produto (R$)...">
                <textarea name="descricao" placeholder="Descrição do produto" id="descricao"></textarea>
                <p>Imagem do produto:</p>
                <input type="file" name="imagem_produto">
                <input id="btn_add" type="submit" name="btn_add" value="Cadastrar">
            </form>
        
            <div>
                <h1>Filtrar produtos</h1>
                <input type="text" id="filtro" placeholder="Nome do produto..." onkeyup="filtrarProdutos()">
            </div>
        </div>
        {% endif %}
        <h1>Seus produtos:</h1>
        {% if autenticado == False or usuario_logado %}
        <h2>Você precisa está logado como Empresa para ter acesso à essas funções!</h2>
        {% endif %}
        {% if empresa_logada %}
        <div class="produtos_container">
            {% for produto in empresa_logada.produtos.all %}
            <div class="produto">
                <div class="produto_image">
                    {% if produto.imagem_src %}
                    <img src="{{ produto.imagem_src.url }}" alt="">
                    {% else %}
                    <img src="{% static 'img/cart.png' %}" alt="">
                    {% endif %}
                </div>
                <input type="hidden" class="o_nome_produto" value="{{ produto.nome_produto }}">
                <div class="info_produto" id="info1">
                    <h3 class="nome_produto">{{ produto.nome_produto }}</h3>
                    <p>ID do produto: {{ produto.id }}</p>
                </div>
                <div class="info_produto">
                    <p>Unidades em estoque: {{ produto.quantidade_estoque }}</p>
                    <p>Preço: R${{ produto.preco }}</p>
                </div>
                <div class="btns">
                    <form class="form_remover_produto" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{% if produto.id %}{{ produto.id }}{% else %}0{% endif %}">
                    <button type="submit" id="remove_btn" name="btn_remove" value="remover"><img src="{% static 'img/trash.png' %}"></button>
                </form>
                <button 
                name="btn_edit"
                id="btn_edit"
                value="{{ produto.id }}"
                onclick="editar_produto(this)"
                data-produto-id="{{ produto.id }}"
                data-nome="{{ produto.nome_produto }}"
                data-estoque="{{ produto.quantidade_estoque }}"
                data-preco="{{ produto.preco }}"
                >
                <img src="{% static 'img/pencil.png' %}">
                </button>
                </div>
            </div>

            {% empty %}
            <h2>Sua empresa ainda não tem produtos! </h2>
            {% endfor %}
        </div>
    <aside>
        <h1>Cadastro de produtos</h1>
    <form class="cadastrar_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="nome_produto" placeholder="Nome do produto...">
        <input type="number" name="quantidade_estoque" placeholder="Quantidade em estoque...">
        <input type="number" name="preco" placeholder="Preço do produto (R$)...">
        <textarea name="descricao" placeholder="Descrição do produto" id="descricao"></textarea>
        <p id="mudar_imagem_p">Imagem do produto:</p>
        <input type="file" name="imagem_produto">
        <input id="btn_add" type="submit" name="btn_add" value="Cadastrar">
    </form>
    <div>
        <h1>Filtrar produtos</h1>
        <input type="text" id="filtro" placeholder="Nome do produto..." onkeyup="filtrarProdutos()">
    </div>
    </aside>
{% endif %}
</main>
<div class="editar">
    <div class="editar_container">
        <div class="title">
            <h2>Edição de produto</h2>
            <!-- <h1>Produto: {{ produto_escolhido.nome_produto }}</h1> -->
            <button class="fechar" onclick="editar_produto(this)"><img src="{% static 'img/close.png' %}" alt=""></button>
        </div>
        <div class="div_form">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="produto_id" id="input_produto_id">
                
                <p>Novo nome do produto:</p>
                <input type="text" name="novo_nome_produto" id="input_nome_produto" placeholder="Nome do produto...">
            
                <p>Adicionar estoque:</p>
                <input type="number" name="nova_quantidade" id="input_estoque" placeholder="Quantidade...">
            
                <p>Mudar preço:</p>
                <input type="number" name="novo_preco" id="input_preco" placeholder="Mudar preço(R$)">

                <p>Nova descrição:</p>
                <textarea name="nova_descricao" placeholder="{% if produto.descricao %}{{ produto.descricao }} {% else %} Descrição do produto... {% endif %}" id="descricao"></textarea>

                <p>Mudar imagem</p>
                <input type="file" id="nova_imagem" name="nova_imagem" value="img_{{produto.id}}">
                
                <input type="submit" id="salvar_btn" value="Salvar" name="salvar">
            </form>
            
        </div>
    </div>

</div>
<a href="#topo" id="up"></a>

<script src="../static/js/script.js"></script>
</body>
</html>