@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #7335b7;
    /* color: w; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.produto {
    background-color: white;
    color: black;
    margin-top: 2vh;
    padding: 0 30px;
    width: 70%;
    height: 75vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.produto_image {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto_image img {
    height: 90%;
    width: auto;
}

.info_produto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn_comprar {
    width: 100%;
    padding: 10px;
    background-color: #2fbe50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn_comprar:hover {
    background-color: #27a043;
    transition: 0.4s;
}

@media screen and (max-width: 425px) {
    .produto {
        height: auto;
        width: 100%;
        flex-direction: column;
        padding-bottom: 40px;
        border-radius: 0;
        gap: 0;
    }

    .produto_image {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    main {
        margin-top: 0;
    }

}