@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 97vh;
    color: black;
    background-color: #7335b7;
}

/* body::-webkit-scrollbar {
    display: none;
} */

#logo {
    text-decoration: none;
    position: absolute;
    color: white;
    top: 30px;
    left: 40px;
    cursor: pointer;
}

div {
    width: 40%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

div h1 {
    color: #8850C9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 20px;
}

form input {
    width: 90%;
    height: 20px;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #8850C9;
}

form input::placeholder {
    color: rgb(49, 49, 49);
}

.enviar_dados {
    background-color: #2ac74f;
    color: white;
    cursor: pointer;
    width: 50%;
    height: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.enviar_dados:hover {
    background-color: #28A745;
    transition: 0.5s;
}

div p {
    margin-top: 20px;
    font-weight: 600;
}

.login_link {
    color: #F8842B;
    text-decoration: none;
}

.login_link:hover {
    text-decoration: underline;
}