@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    /* height: 2000px; */
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 40px;
}

main h1 {
    margin-bottom: 15px;
}

header {
    background-color: #7335b7;
    color: white;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header a {
    color: white;
    text-decoration: none;
}

.profile_btn {
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.profile_btn:hover {
    background-color: rgb(167, 164, 164);
    transition: 0.5s;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.nav_links {
    height: 70%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    border-radius: 10px;
    
}

nav a:hover {
    transition: 0.7s;
    color: black;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
}

.cadastrar_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.cadastrar_form input, aside div input {
    width: 90%;
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
    border: none;
}

#btn_add {
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    background-color: #28A745;
    display: flex;
    height: 30px;
    font-weight: bold;
}

#btn_add:hover {
    background-color: #208839;
    transition: 0.5s;
}

.produto {
    width: 66%;
    height: 200px;
    color: white;
    margin-bottom: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #7335b7;
}

.produto_image {
    height: 90%;
    width: 40%;
    background: url("../img/cart.png") no-repeat center;
    background-color: white;
    border-radius: 10px;
}

.produto button img {
    height: 100%;
    width: 100%;
    
}

.produto button {
    height: auto;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.produto button:hover {
    background-color: rgb(196, 194, 194);
    transition: 1s;
}

.form_remover_produto {
    display: flex;
    gap: 15px;
    align-items: center;
}

.info_produto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside {
    position: absolute;
    height: 90%;
    width: 30%;
    top: 16vh;
    right: 0;
    padding: 20px;
    color: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #57278a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#up {
    position: fixed;
    right: 40px;
    bottom: 30px;
    border-radius: 50%;
    border: none;
    background-color: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background: url("../img/up_white.png") no-repeat center;
    background-color: #3ed862;
}

#up:active {
    background: url("../img/up.png") no-repeat center;
    background-color: white;
    transition: 0.7s;
}

@media screen and (max-width: 425px) {
    .cadastrar_form {
        width: 100%;
        text-align: center;
    }

    aside {
        width: 100%;
        height: 350px;
        border-radius: 0;
        top: 12vh;
    }

    .produtos_container {
        margin-top: 350px; 
        justify-content: center;
    }

    .produtos_container h1 {
        font-size: 30px;
    }

    .produto {
        width: 100%;
        height: 400px;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .produto_image {
        height: 160px;
        width: 100%;
    }

    .form_remover_produto {
        border-top: 1px solid white;
        width: 100%;
        justify-content: center;
    }

    #up {
        bottom: 10px;
        right: 10px;
    }
}